<h1>{{title}}</h1>

<div class="row">


  <div class="col-xs-12 col-md-4">
    <div id="sash-picture">
      <img id="sash-image" src="http://i.imgur.com/UE6HFpr.jpg" alt="" />
      <figcaption>Sasha relaxing with a Prohibition Pig crowler</figcaption>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <div id="about-text">
      <ul id="about-pg">
        <li clase="main-abt-lst">My Beer Tracker allows you to easily keep track of your beer cellar online.</li>
        <li class="main-abt-lst">We use Untappd's database so you can find virtually any beer and add it to your cellar.</li>
        <li class="main-abt-lst"> Cellars are easily searched and filitered.  See your beer collection however you'd like!</li>
      </ul>
      </br>
     </div>
  </div>

  <div id="lft-abt-colmn" class="col-xs-12 col-md-4">
   <div id="instructions">
    <h3 id="about-heading">How it works:</h3>
    <ul>
      <li class="abt-lst">Create a profile <a href="/users/register">here</a></li>
      <li class="abt-lst">Add beers to your cellar</li>
      <li class="abt-lst">Use the search bar to sort your cellar anyway you'd like</li>
    </ul>
   </div>
    <div id="next">
    <h3 id="about-heading">Coming next:</h3>
    <p id="about-pg2">My Beer Tracker was made as a final project for a web development class.  So, time was limited!  New exciting new additions are on the horizon, like:</p>
      <ul>
        <li class="abt-lst">Messaging, so you can set up trades</li>
        <li class="abt-lst">Expanded user profiles so you can find users neer you</li>
        <li class="abt-lst">"Search-by-beer" feature, so you can find users with a particular beer.</li>
      </ul>
    </div>
  </div>

<!--
  <div class="col-xs-12 col-md-2">

  </div> -->



</div>
