<h1>{{title}}</h1>

<div class="row">


  <div class="col-xs-12 col-md-6">
    <div id="sash-picture">
      <img id="sash-image" src="/images/sash-beer.jpg">
      <figcaption>Sasha relaxing with a Prohibition Pig crowler</figcaption>

    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div id="about-text">
      <p id="about-pg">My Beer Tracker allows you to easily keep track of your beer cellar online.  Our site uses Untappd's database to let you search for virtually any beer and add it to your cellar.  Cellars are easily searched and filitered to look at your beer collection however you'd like!</p>
    </div>
  </div>


  <div class="col-xs-12 col-md-2">

  </div>



</div>
