<h1>{{title}}</h1>

  <div id="add-beer-container">
    <!-- <form> -->
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Search for a Beer</label>
        <input type="text" id="beer-search-box" class="form-control" placeholder="ex: Russian River Supplication">
        <small class="text-muted">Search for the beer you'd like to add</small>
      </fieldset>
<!--
      <fieldset class="form-group">
        <label for="inputDate">Date</label>
        <input type="Text" class="form-control" id="inputBeerDate" placeholder="Password">
      </fieldset>

      <fieldset class="form-group">
        <label for="exampleSelect1">For Trade?</label>
        <select class="form-control" id="exampleSelect1">
          <option>Yes</option>
          <option>No</option>
        </select>
      </fieldset> -->

      <button class="btn btn-primary" id="add-beer-button">Search</button>
    <!-- </form> -->
  </div>

  <div id="beer-results">

  </div>
