<h1>{{title}}</h1>


  <div id="add-beer-container">
    <!-- <form> -->
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Brewery</label>
        <input type="text" id="brewery-search-box" value="{{breweryResult}}" class="form-control">
      </fieldset>

      <fieldset class="form-group">
        <label for="exampleInputEmail1">Beer</label>
        <input type="text" id="beer-search-box" value="{{beerResult}}" class="form-control">
      </fieldset>

      <fieldset class="form-group">
        <label for="exampleInputEmail1">Style</label>
        <input type="text" id="style-search-box" value="{{beerStyle}}" class="form-control">
      </fieldset>

      <script>
      document.getElementById("beer-search-box").readOnly=true;
      document.getElementById("brewery-search-box").readOnly=true;
      document.getElementById("style-search-box").readOnly=true;
      </script>

      <fieldset class="form-group">
        <label for="inputDate">Date</label>
        <input type="Text" class="form-control" id="inputBeerDate" placeholder="bottling date or vintage">
      </fieldset>

      <fieldset class="form-group">
        <label for="inputDate">Qty.</label>
        <input type="Text" class="form-control" id="inputBeerQuantity" placeholder="How much you got?">
      </fieldset>

      <fieldset class="form-group">
        <label for="exampleSelect1">For Trade?</label>
        <select class="form-control" id="exampleSelect1">
          <option>Yes</option>
          <option>No</option>
        </select>
      </fieldset>

      <button class="btn btn-primary" id="add-button">Add to Cellar</button>
    <!-- </form> -->
  </div>

  <div id="beer-results">
  </div>

  <script>


  </script>
