<div ng-controller="cellarListCtrl">
<h1>//data.username//'s {{pageHeader.title}}</h1>
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div id='cellar-list-container'>

          <label id="beer-search-label" for="filter">Search your cellar</label>
          <input id="beer-search" type="text" class="form-control" name="filter" ng-model="textFilter">

          <form method="get" action='search?id={{id}}'>
          <button <a href='search?id={{id}}' type="submit" id="add-beer-btn" class="btn btn-primary"></a>Add a Beer</button>
          </form>

          <script>
          </script>
          <div id="edit-instruction">
             <p>Click "Bottling Date", "Qty" or "For Trade?" to edit</p>
          </div>

          <table class="table table-striped">
            <tr>
              <th>
                <a href="#" class="th-sort" ng-click="sortType = 'brewery'; sortReverse = !sortReverse">
                  Brewery
                  <span ng-show="sortType == 'brewery' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'brewery' && sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th>
                <a href="#" class="th-sort" ng-click="sortType = 'beer' ; sortReverse = !sortReverse">
                  Beer
                  <span ng-show="sortType == 'beer' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'beer' && sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th>
                <a href="#" class="th-sort" ng-click="sortType = 'style' ; sortReverse = !sortReverse">
                  Style
                  <span ng-show="sortType == 'style' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'style' && sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th>
                <a href="#" class="th-sort" ng-click="sortType = 'date' ; sortReverse = !sortReverse">
                  Bottling Date
                  <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th>
                <a href="#" class="th-sort" ng-click="sortType = 'quantity' ; sortReverse = !sortReverse">
                  Qty
                  <span ng-show="sortType == 'quantity' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'quantity' && sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th>
                <a href="#" class="th-sort" ng-click="sortType = 'forTrade' ; sortReverse = !sortReverse">For Trade?
                  <span ng-show="sortType == 'forTrade' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'forTrade' && sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th>Delete</th>
            </tr>

            <tr ng-repeat="beer in data.beers | orderBy:sortType:sortReverse | filter : textFilter">
              <td>//beer.brewery//</td>
              <td>//beer.beer//</td>
              <td>//beer.style//</td>

              <td><label ng-click="editing = true" ng-hide="editing">//beer.date//</label><input ng-blur="editing = false;sendDate(beer.date, beer._id)" ng-show="editing" ng-model="beer.date" name="date" class="date-edit" type="text"/></td>
              <td><label ng-click="editing = true" ng-hide="editing">//beer.quantity//</label><input ng-blur="editing = false;sendBeerObject(beer.brewery,beer.beer,beer.style,beer.date,beer.quantity, beer.forTrade, beer._id)" ng-show="editing" ng-model="beer.quantity" name="quantity" class="date-edit" type="text"</label></td>
              <td><label ng-click="editing = true" ng-hide="editing">//beer.forTrade//</label><input ng-blur="editing = false;sendBeerObject(beer.brewery,beer.beer,beer.style,beer.date,beer.quantity, beer.forTrade, beer._id)" ng-show="editing" ng-model="beer.forTrade" name="fortrade" class="date-edit" type="text"</label></td>
              <td><a href="" ng-click="deleteBeer(user.id,beer._id,beer.beer,$index)" class="delete" id="edit-beer-link"><span class="glyphicon glyphicon-trash"></span></td>
            </tr>

          </table>
         </div>
        </div>
       <div id="userId">{{theId}}</div>
