<h1>Reset Your Password</h1>

<div id="forgot-form-container">

<form action="/users/forgot-password" method="post">

  <fieldset class="form-group">
    <label for="email">Email Address</label>
    <input type="text" class="form-control" name="email" placeholder="Your Email Address">
  </fieldset>

   <button id="forgot-button" class="btn btn-primary" type="submit">Reset Password</button>
</form>

</div>
