<!-- <h1>{{title}}</h1>
<p>Welcome to My Beer Tracker!</p> -->
  <div class="row">
    <div id="homepage-top" class="col-xs-12">


        <!-- <button id="join" type="button" class="btn btn-primary btn-lg">Join Free</button> -->

        <!-- <div id="image-content"> -->

          <h1 id="homepage-heading">My Beer Tracker</h1>
          <h2 id="homepage-second-heading">Know what's in your cellar<h2>
          <form method="get" action="users/register">
              <button id="home-join-btn" type="submit" class="btn btn-primary btn-lg">Join Free</button>
          </form>
        <!-- </div> -->

  </div>
</div>

  <div class="row" id="homepage-boxes">

    <div class="col-xs-0 col-md-1">
    </div>

    <!-- <div class="homepage-textbox"> -->
      <div  id="home-textbox-left" class="col-xs-12 col-md-3" class="home-textbox">
      <!-- <div class="homepage-text"> -->
        <i class="fa fa-beer" id="beer-glyph"></i>
        <p>Keep an inventory of all beers in your cellar, including style, quantity and vintage.  You can label each beer "for trade" or not.  Joining and starting a cellar you can share with others is easy and free.</p>
      <!-- </div> -->
      </div>
    <!-- </div> -->


    <div class="homepage-textbox">
      <div id="home-textbox-center" class="col-xs-12 col-md-3" class="home-textbox">
      <!-- <div class="homepage-text"> -->
        <i class="fa fa-beer" id="beer-glyph-2"></i>
        <p>Search for beers in your cellar quickly and easily so you can find the perfect beer to drink or trade.  Also, editing quantities and other details is quick and easy</p>
     </div>
   </div>

   <div class="homepage-textbox">
     <div id="home-textbox-right" class="col-xs-12 col-md-3" class="home-textbox">
        <i class="fa fa-beer" id="beer-glyph-3"></i>
        <p>New features coming soon include:  private messaging so you can set up trades, beer searches that allow you to find all users with a particular beer, locations so you can find users in your area to set up in-person trades.</p>
     </div>
  </div>


    <div class="col-md-1">

    </div>
  </div>
