<h1>Login</h1>

<div id="login-form-container">


    {{#if messages.noUser}}
    {{messages.noUser}}
    {{/if}}

  <form action="/users/login" method="post">
    <fieldset class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" placeholder="Username">
    </fieldset>


    <fieldset class="form-group">
      <label for="username">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password">
    </fieldset>

    <button id="login-button" class="btn btn-primary" type="submit" value="Login">Login</button>
  </form>

  <div id="login-text">
    <p>
      Need a free account? <a href="/users/register">Register</a>.
      {{message}}
    </p>
    <p>
      Forgot your password?  Click <a href="/users/forgot-password">here</a>.
    </p>
  </div>


</div>
