<div ng-controller="cellarListCtrl">
<h1>{{pageHeader.username}}'s {{pageHeader.title}}</h1>
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-8 col-xs-12"> -->
        <div id='cellar-list-container'>

          <div id="public-search-bar">
            <label id="beer-search-label" for="filter">Search {{pageHeader.username}}'s cellar</label>
            <input id="beer-search" type="text" class="form-control" name="filter" ng-model="textFilter">
          </div>

          <table class="table table-striped">
            <tr>
              <th>
                <a href="#" class="th-sort" ng-click="sortType = 'brewery'; sortReverse = !sortReverse">
                  Brewery
                  <span ng-show="sortType == 'brewery' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'brewery' && sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th>
                <a href="#" class="th-sort" ng-click="sortType = 'beer'; sortReverse = !sortReverse">
                  Beer
                  <span ng-show="sortType == 'beer' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'beer' && sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th>
                <a href="#" class="th-sort" ng-click="sortType = 'style'; sortReverse = !sortReverse">
                  Style
                  <span ng-show="sortType == 'style' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'style' && sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th>
                <a href="#" class="th-sort" ng-click="sortType = 'date'; sortReverse = !sortReverse">
                  Bottling Date
                  <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th>
                <a href="#" class="th-sort" ng-click="sortType = 'quantity'; sortReverse = !sortReverse">
                  Qty
                  <span ng-show="sortType == 'quantity' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'quantity' && sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th>
                <a href="#" class="th-sort" ng-click="sortType = 'forTrade'; sortReverse = !sortReverse">
                  For Trade?
                  <span ng-show="sortType == 'forTrade' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'forTrade' && sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
            </tr>

            <tr class="beer-row" ng-repeat="beer in data.beers | orderBy:sortType:sortReverse | filter : textFilter">
              <td>//beer.brewery//</td>
              <td>//beer.beer//</td>
              <td>//beer.style//</td>
              <td>//beer.date//</td>
              <td>//beer.quantity//</td>
              <td>//beer.forTrade//</td>
            </tr>



          </table>
         </div>
        </div>

        <div class="col-md-2 col-xs-8">
      </div>
    </div>
  </div>

   <div id="userId">{{theId}}</div>
