<h1>Register</h1>


<div id="register-form-container">


  <form action="/users/register" method="post">

    <fieldset class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" placeholder="Your Username">
    </fieldset>

    <fieldset class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Your Password">
    </fieldset>

     <button id="register-button" class="btn btn-primary" type="submit">Register</button>
  </form>

  <div id="register-text">
    <p>
      Already have an account? <a href="/users/login">Sign in</a>.
    </p>
  </div>

  <div id="register-error">
    <p>
      {{message}}
    </p>
  </div>

</div>
