<h1>Register</h1>


<div id="register-form-container">


  <form action="/users/register" method="post">

    <fieldset class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" value="{{username}}" placeholder="Pick a username">
    </fieldset>

    <fieldset class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" value = "{{email}}" placeholder="Your Email Address">
    </fieldset>

    <fieldset class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Choose a Password">
    </fieldset>

    <fieldset class="form-group">
      <label for="password-confirm">Confirm Password</label>
      <input type="password" class="form-control" name="passwordConfirm" placeholder="Retype your Password">
    </fieldset>

    {{#if messages.error}}
      <div id="login-error">
        {{messages.error}}
      </div>
    {{/if}}

     <button id="register-button" class="btn btn-primary" type="submit">Register</button>
  </form>

  <div id="register-text">
    <p>
      Already have an account? <a href="/users/login">Sign in</a>.
    </p>
  </div>

  <div id="register-error">
    <p>
      {{message}}
    </p>
  </div>

</div>
