<h1>Reset Your Password{{email}}</h1>

<div id="reset-form-container">

<form action="/users/reset/{{token}}" method="post">

  <fieldset class="form-group">
    <label for="password">New Password</label>
    <input type="password" class="form-control" name="password" value='' placeholder="New Password">
  </fieldset>

   <button id="reset-button" class="btn btn-primary" type="submit">Reset Password</button>
</form>

</div>
